<section class="certificates">
  <div class="container">
    <h2 class="certificates-title">
      <span class="accent-word">AdBlue</span
      ><span class="certificates-trademark">&#174;</span> від
      <spsn class="accent-word">AZMOL</spsn> відповідає всім екологічним вимогам
      <span class="accent-word">EURO IV, V, VI</span>
    </h2>
    <ul class="certificates-item-container">
      <li>
        <div class="certificates-item">
          <div class="certificates-item-value">
            <svg class="certificates-icon" width="55" height="48">
              <use href="./img/sprite.svg#icon-sertufikat"></use>
            </svg>
            <p class="certificates-text">
              <span class="certificates-text-accent">vda</span> регулярно
              моніторить склад нашої продукції
            </p>
          </div>
          <button class="certificates-item-btn" type="button">
            сертифікат VDA
            <svg class="certificates-btn-icon" width="19">
              <use href="./img/sprite.svg#icon-arrow-next"></use>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <div class="certificates-item">
          <div class="certificates-item-value">
            <svg class="certificates-icon" width="52" height="48">
              <use href="./img/sprite.svg#icon-lab"></use>
            </svg>
            <p class="certificates-text">
              <span class="certificates-text-accent">три рівня</span> контролю
              якості
            </p>
          </div>
          <button class="certificates-item-btn" type="button">
            паспорт якості
            <svg class="certificates-btn-icon" width="19">
              <use href="./img/sprite.svg#icon-arrow-next"></use>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <div class="certificates-item">
          <div class="certificates-item-value">
            <svg class="certificates-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-file"></use>
            </svg>
            <p class="certificates-text">
              <span class="certificates-text-accent">кожна партія</span>
              супроводжується документацією
            </p>
          </div>
          <button class="certificates-item-btn" type="button">
            спектограмма
            <svg class="certificates-btn-icon" width="19">
              <use href="./img/sprite.svg#icon-arrow-next"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
