<section class="footer">
  <div class="container-description container">
    <a class="logo-footer" href="./index.html">
      <svg width="166" height="121">
        <use href="./img/sprite.svg#icon-footer-logo"></use>
      </svg>
    </a>
    <p>контакти для зв'язку</p>
    <address></address>
    <div>
    <P>прийом дзвінків</P>
    <P>Понеділок — П'ятниця</P>
    <P>з 8:00 — 18:00</P>
    </div>
    <div class="consultation-menu">
          <p class="consultation-title">отримати консультацію</p>
          <form
            class="consultation-form"
            name="Consultatione"
            autocomplete="off">
                <input
                class="consultation-email"
                type="text"
                name="user-name"
                pattern="[A-Za-z]{1-30}"
                required
                placeholder="Ваше ім'я"/>
              <input
                class="consultation-phone"
                type="tel"
                name="phone"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                required
                placeholder="телефон"
              />
            <button class="consultation-button" type="submit">
              зворотний дзвінок
            </button>
          </form>
        </div>
      </div>
  </div>
</section>
