<section class="guarantees">
  <div class="guarantees-container container">
    <h2 class="guarantees-title">
      ми гарантуємо <span class="guarantees-title-accent">100%</span> чистоту,
      екологічність і якість нашого реагенту
    </h2>
    <p class="guarantees-text">
      Єдиний в Україні лабораторний комплекс, що відповідає стандартам VDA,
      контролює всі етапи виробництва AdBlue<span class="trademark-guarantees"
        >&#174;</span
      >:
    </p>
    <ul class="guarantees-list">
      <li class="guarantees-item">
        <div class="guarantees-item-number-container">
          <p class="guarantees-item-number">01</p>
        </div>
        <h3 class="guarantees-item-name">вхідний контроль сировини</h3>
      </li>
      <li class="guarantees-item">
        <div class="guarantees-item-number-container">
          <p class="guarantees-item-number">02</p>
        </div>
        <h3 class="guarantees-item-name">аналіз на етапі виробництва</h3>
      </li>
      <li class="guarantees-item">
        <div class="guarantees-item-number-container">
          <p class="guarantees-item-number">03</p>
        </div>
        <h3 class="guarantees-item-name">контрольний аналіз</h3>
      </li>
      <li class="guarantees-item">
        <div class="guarantees-item-number-container">
          <p class="guarantees-item-number">04</p>
        </div>
        <h3 class="guarantees-item-name">паспортизація</h3>
      </li>
    </ul>
  </div>
</section>
