<section class="hero">
  <div class="hero-container container">
    <h1 class="main-title marker">
      AdBlue<span class="trademark">&#174;</span>
    </h1>
    <p class="hero-text">
      AZMOL-BP — єдиний в Україні виробник з власним обладнанням і лабораторією,
      сертифікованими VDA
    </p>
    <img
      src="../img/mobile/mobile-canisters.png"
      alt="canisters"
      width="354"
      height="266"
    />
    <button class="hero-btn" type="button">
      Огляд ринку AdBlue<span class="trademark-btn">&#174;</span>
    </button>
  </div>
</section>
