<section class="looking-partners">
  <div class="container">
    <h2 class="looking-partners-title">
      розвиваємо готові рішення для бізнесу
    </h2>
    <ul class="looking-partners-list">
      <li>
        <button class="looking-partners-btn" type="button">
          <svg class="looking-partners-icon" width="24" height="25">
            <use href="./img/sprite.svg#icon-station"></use>
          </svg>
          <h3 class="looking-partners-name">рішення для АЗС</h3>
        </button>
      </li>
      <li>
        <button class="looking-partners-btn" type="button">
          <svg class="looking-partners-icon" width="50" height="25">
            <use href="./img/sprite.svg#icon-truck"></use>
          </svg>
          <h3 class="looking-partners-name">
            рішення для логістичних компаній
          </h3>
        </button>
      </li>
      <li>
        <button class="looking-partners-btn" type="button">
          <svg class="looking-partners-icon" width="37" height="25">
            <use href="./img/sprite.svg#icon-bus"></use>
          </svg>
          <h3 class="looking-partners-name">
            рішення для громадського транспорту
          </h3>
        </button>
      </li>
      <li>
        <button class="looking-partners-btn" type="button">
          <svg class="looking-partners-icon" width="31" height="25">
            <use href="./img/sprite.svg#icon-traktor"></use>
          </svg>
          <h3 class="looking-partners-name">
            рішення для комунальних господарств
          </h3>
        </button>
      </li>
      <li>
        <button class="looking-partners-btn" type="button">
          <svg class="looking-partners-icon" width="42" height="25">
            <use href="./img/sprite.svg#icon-combaine"></use>
          </svg>
          <h3 class="looking-partners-name">рішення для аграрного сектора</h3>
        </button>
      </li>
      <li>
        <button class="looking-partners-btn" type="button">
          <h3 class="looking-partners-name looking-partners-last-name">
            отримати буклет
          </h3>
        </button>
      </li>
    </ul>
  </div>
</section>
