<div class="mobile-menu is-open" data-menu>
  <div class="mobile-menu-container">
    <button class="mobile-close-button" type="button" data-menu-close>
      <svg class="mobile-close-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-cancel-off"></use>
      </svg>
    </button>
    <nav class="mobile-navigation">
      <ul class="mobile-navigation-list">
        <li class="mobile-navigation-link">
          <a href="./index.html">головна</a>
        </li>
        <li class="mobile-navigation-link">
          <a href="#certificates">сертифікація</a>
        </li>
        <li class="mobile-navigation-link">
          <a href="../page-2.html">лабораторія</a>
        </li>
        <li class="mobile-navigation-link">
          <a href="#contacts">контакти</a>
        </li>
        <li class="mobile-navigation-link"><a href="">f.a.q</a></li>
      </ul>
    </nav>
    <div class="mobile-address-container">
      <p class="mobile-contacts">зв'язок з менеджером</p>
      <address>
        <a class="mobile-communication-phone" href="tel:+380800504524"
          >+380-800-504-524</a
        >
      </address>
    </div>
  </div>
</div>
