<section class="our-offer">
  <div class="container">
    <h2 class="our-offer-title">ми пропонуємо партнерам</h2>
    <p class="our-offer-subtitle">
      зручні і надійні формати фасування та транспортування реагенту
    </p>
    <ul class="our-offer-list">
      <li class="our-offer-item">
        <div class="our-offer-item-img-container">
          <img
            class="our-offer-item-img-first"
            src="../img/cysterna.png"
            alt="cysterna"
            width="220"
            height="185"
          />
        </div>
        <h3 class="our-offer-item-name">Оптові партії</h3>
      </li>
      <li class="our-offer-item">
        <div class="our-offer-item-img-container">
          <img
            class="our-offer-item-img-second"
            src="../img/kubushka.png"
            alt="kubushka"
            width="172"
            height="172"
          />
        </div>
        <h3 class="our-offer-item-name">контейнери IBC</h3>
        <p class="our-offer-item-text">Єврокуб 1000 л</p>
      </li>
      <li class="our-offer-item">
        <div class="our-offer-item-img-container">
          <img
            class="our-offer-item-img-last"
            src="../img/group-canisters.png"
            alt="group-canisters"
            width="169"
            height="139"
          />
        </div>
        <h3 class="our-offer-item-name">каністри</h3>
        <p class="our-offer-item-text">Об’єм 10 і 20 л</p>
      </li>
    </ul>
    <button class="our-offer-btn" type="button">дізнатись ціни</button>
  </div>
</section>
