<section class="quality">
  <div class="container">
    <h2 class="qulity-title">
      в паспорті зазначено якість реагента
      <span class="qulity-title-accen-word">AdBlue</span
      ><span class="trademark-quality">&#174;</span> за
      <span class="qulity-title-accen">18</span> показниками
    </h2>
    <ul class="quality-list">
      <li class="quality-item">
        <p class="quality-item-number">1</p>
        <p class="quality-item-value">
          Масова концентрація альдегідів мг<span>&#47;</span>кг
          <span>&#60;</span> 5
        </p>
      </li>
      <li class="quality-item">
        <p class="quality-item-number">2</p>
        <p class="quality-item-value">
          Показник заломлення при 20 <span>&#176;</span>С - 1,3814 - 1,3843
        </p>
      </li>
      <li class="quality-item">
        <p class="quality-item-number">3</p>
        <p class="quality-item-value">Вміст сечовини, % у межах 31,8 - 33,2</p>
      </li>
      <li class="quality-item">
        <p class="quality-item-number">4</p>
        <p class="quality-item-value">Лужність, % не більше 0,2</p>
      </li>
      <li class="quality-item">
        <p class="quality-item-number">5</p>
        <p class="quality-item-value">Масова доля біурету, % не більше 0,3</p>
      </li>
    </ul>
    <button class="quality-btn" type="button">дивитись ще</button>
  </div>
</section>
