@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 275px;
    height: 550px;
    overflow: hidden;
    right: 0;
    transform: translateX(0);
    z-index: 999999;
    visibility: visible;
    pointer-events: auto;
    opacity: 0.9;
    transition: transform 250ms ease-in-out;
    background-color: #2d9cdb;
    background-image: url('../img/mobile/mobile-menu-background.jpg');
    background-size: cover;
  }

  /* плавне закриття мобільного вікна */
  .is-open {
    pointer-events: none;
    transform: translateX(100%);
  }

  .mobile-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    top: 20px;
    right: 20px;
    z-index: 9999;
    border: transparent;
    outline: transparent;
    background-color: transparent;
  }

  .mobile-close-icon {
    fill: #ffffff;
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 111px 24px 98px 24px;
  }

  /* Изображение 2х */
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devide-pixel-ratio: 2) {
    .mobile-menu {
      background-image: url('../img/mobile/mobile-menu-background@2x.jpg');
    }
  }

  .mobile-navigation {
    margin-bottom: 48px;
  }

  .mobile-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mobile-navigation-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .mobile-address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ffffff;
    width: 227px;
    padding-top: 32px;
  }

  .mobile-contacts {
    font-weight: 500;
    font-size: 13px;
    line-height: 2.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .mobile-communication-phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 2.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
