/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./main.css');
@import url('./modal.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./certificates.css');
@import url('./looking-partners.css');
@import url('./our-offer.css');
@import url('./guaranties.css');
@import url('./quality.css');
@import url('./ecology.css');
@import url('./footer.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #333333;
  /* background-color: lightblue; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
